<!-- <div class="backdrop">
  <div class="modal">
    <div class="modal-card--top">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident eaque
      illo iusto, enim atque deserunt illum iure nam quis odit dolor eos laborum
      expedita? Voluptas assumenda quasi corporis voluptatibus omnis!
    </div>
    <div class="modal-card--bottom">
      <h2 class="film__title">A FISTFUL OF LEAD</h2>
      <ul class="film__list list">
        <li class="film__items">
          <p class="film__items-text">Vote / Votes:</p>
          <span class="film__span">1260</span>
        </li>
        <li class="film__items">
          <p class="film__items-text">Popularity:</p>
          <span class="film__span">100.2</span>
        </li>
        <li class="film__items">
          <p class="film__items-text">Original Title:</p>
          <span class="film__span">A FISTFUL OF LEAD</span>
        </li>
        <li class="film__items">
          <p class="film__items-text">Genre:</p>
          <span class="film__span">Western </span>
        </li>
      </ul>
      <h3 class="film__about">About</h3>
      <p class="film__description">
        Four of the West’s most infamous outlaws assemble to steal a huge stash
        of gold from the most corrupt settlement of the gold rush towns. But not
        all goes to plan one is killed and the other three escapes with bags of
        gold hide out in the abandoned gold mine where they happen across
        another gang of three – who themselves were planning to hit the very
        same bank! As tensions rise, things go from bad to worse as they realise
        the bags of gold are filled with lead... they’ve been double crossed –
        but by who and how?
      </p>
      <ul class="film__btn-list list">
        <li class="film__btn-item">
          <button type="button" class="film__btn film__btn--active">
            ADD TO WATCHED
          </button>
        </li>
        <li class="film__btn-item">
          <button type="button" class="film__btn film__btn--regular">
            ADD TO QUEUE
          </button>
        </li>
      </ul>
    </div>
    <button type="button">
      <svg width="30" height="30" class="modal__exit">
        <use href="./symbol-defs.svg#icon-close-black"></use>
      </svg>
    </button>
  </div>
</div> -->

<div class="backdrop isHidden">
  <div class="modal">
    <ul class="modal__list list"></ul>

    <button type="button" class="closeModal">
      <svg width="30" height="30" class="btn__close">
        <use href="./symbol-defs.svg#icon-close-black"></use>
      </svg>
    </button>
  </div>
</div>
