.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  &__text {
    visibility: hidden;
    display: none;
    pointer-events: none;
    margin-left: 8px;
    @media screen and (min-width: 768px) {
      visibility: visible;
      opacity: 1;
      display: inline-block;
      pointer-events: all;
    }
    color: var(--font-white-color);
    font-size: 30px;
  }

  &__svg {
    fill: rgb(0, 0, 0);
  }
}
