.footer {
  padding: 28px 0;
  background-color: #f7f7f7;

  &__list {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    color: var(--font-grey-color);
  }
  &__item {
    padding: 0 5px;
    &:not(:last-child) {
      border-right: 1px solid var(--font-orange-color);
      margin-bottom: 10px;
      @media screen and (min-width: 768px) {
        margin-bottom: 0;
      }
    }
  }
}
